asgiref==3.8.1
black==24.8.0
click==8.1.7
colorama==0.4.6
crispy-bootstrap4==2024.1
decouple==0.0.7
Django==5.1.1
django-crispy-forms==2.3
django-debug-toolbar==4.4.6
django-environ==0.11.2
environ==1.0
flake8==7.1.1
gunicorn==23.0.0
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
pep8-naming==0.13.2
platformdirs==4.2.2
psycopg2-binary==2.9.10
pycodestyle==2.12.1
pyflakes==3.2.0
python-decouple==3.8
python-dotenv==1.0.1
sqlparse==0.5.1
tzdata==2024.1
whitenoise==6.8.2
